body {
background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.title {
  font-size: 6rem;
  text-align: center;
  background: -webkit-linear-gradient(#f1c40f, #e74c3c, #9b59b6, #3498db, #2ecc71, #f1c40f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px #000, -3px -3px #000, -3px 3px #000, 3px -3px #000;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10px) rotate(-2deg);
  }
  20% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-5px) rotate(0deg);
  }
  30% {
    transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(-2px) rotate(0deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0);
  }
}

.stock-display {
  margin-top: 2rem;
  margin: auto;
  font-size: 2rem;
}

button {
  margin-top: 2rem;
  margin: auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #f1c40f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
